html,
body {
  margin: 0;
  padding: 0;
}

text {
  width: 700px;
  height: auto;
}

.content__text {
  display: block;
  position: relative;
  width: 400px;
  margin: auto;
  padding: 5px;
  border: 2px solid black;
  text-align: center;
}

.content__text-resize {
  display: block;
  position: absolute;
  right: -10px;
  bottom: -10px;
  z-index: 5;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid black;
  cursor: col-resize;
}
.content__table {
  position: relative;
}
